<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
</head>
<link rel='stylesheet' href='/stylesheets/style.css' />

<body>
  <div class="header">
    <h1>Student Management System</h1>

  </div>

  <div class="form-style-5">

    <form action="setStudent" method="POST">
      <input type="text" name="roll" placeholder="Roll No" required />
      <br /><br />
      <input type="text" name="name" placeholder="Name" required />
      <br /><br />
      <input type="text" name="age" placeholder="Age" required />
      <br /><br />
      Indian : <input type="radio" name="indian" value="true" /> Yes <input type="radio" name="indian" value="false" />
      No
      <br /><br />
      <select name="gender">
        <option value="">Select a Gender</option>
        <option value="0">Male</option>
        <option value="1">Female</option>
        <option value="2">Other</option>
      </select>
      <br /><br />
      <input type="submit" value="Submit" />
    </form>

    <br /><br /><br />

    <form action="getStudent" method="GET">
      <input type="text" name="roll" placeholder="Roll No" />
      <input type="submit" value="Search" />
    </form>
  </div>

</body>

</html>